version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/go/caddy_bridge"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(go)"
    labels:
      - "dependencies"
      - "go"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "deps(ci)"
    labels:
      - "dependencies"
      - "ci"
